:root {
  --main-font-family: "Roboto", sans-serif;
  --second-font-family: "Raleway", sans-serif;
  --main-color-text: #212121;
  --second-maim-color-text: #757575;
  --accent-color: #2196f3;
  --second-background-color: #2f303a;
  --background-image: #eeeeee;
  --another-background-color: #f5f4fa;
  --black-color: #000000;
  --white-color: #ffffff;
  --btn-active: #188ce8;
  --main-font-weight: 400;
  --second-font-weight: 700;
  --padding-section: 94px;
  --image-gap: 30px;
  --main-image-background: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/top-bg.jpg);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus,
.link:hover {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: normal;
  color: var(--main-color-text);
  background-color: var(--white-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  border: 0;
  border-radius: 4%;
}

.section {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.section.no-top-padding {
  padding-top: 0;
}

/* -------------------------------HEADER------------------------------- */

/* Загальні стилі для лого */
.logo {
  font-family: var(--second-font-family);
  font-weight: var(--second-font-weight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header .logo span {
  color: var(--black-color);
}

.header-nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  display: block;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

.header-contact-list {
  display: flex;
  margin-left: auto;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.header-contact-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--second-maim-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.icon-header {
  fill: currentColor;
  margin-right: 10px;
}

/* .mailto::before {
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url("../images/con-mailto.svg");
  background-size: contain;
}
.number::before {
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url("../images/icon-phone.svg");
  background-size: contain;
}  */

/* -------------------------------FOOTER------------------------------- */

.footer {
  background: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.container-address {
  margin-right: 70px;
  width: 231px;
}

.footer-social-container {
  width: 206px;
  height: 80px;
}

.footer-list {
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .logo span {
  color: var(--white-color);
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link.address {
  color: var(--white-color);
}

.footer-link.contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-title {
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.social-icon-item {
  width: 44px;
  height: 44px;
}

.social-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--accent-color);
}

.footer-input-title {
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-input {
  width: 358px;
  height: 50px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input-container {
  display: flex;
  margin-top: 20px;
}

.input-btn-send {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  fill: var(--white-color);
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  outline: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-btn-send:focus,
.input-btn-send:hover {
  background-color: var(--btn-active);
}

.icon-send {
  margin-left: 10px;
}
/* ----------------------------------MAIN INDEX------------------------------- */

/* -------------------------------------top section------------------------------- */

.top-section {
  background-color: var(--second-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: var(--main-image-background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.top-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.87;
  min-width: 216px;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.top-btn:focus,
.top-btn:hover {
  background-color: var(--btn-active);
}

/* ----------------------------------section features------------------------------- */

.features-list {
  display: flex;
  gap: 30px;
}

.features-title {
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-text);
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-maim-color-text);
}

.container-features-icon {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--another-background-color);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------------------------------section direction------------------------------- */

/* Стилі для головних заголовків в секції direction та team */
.sections-title {
  font-weight: var(--second-font-weight);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  margin-bottom: 50px;
}

.direction-list {
  padding: 0;
  margin: 0;
  display: flex;
  /* Фіксована (при видаленні img не втрачається ширина) сітка для елементів li, замість gap*/
  margin-left: calc(-1 * var(--image-gap));
  margin-top: calc(-1 * var(--image-gap));
}
.direction-item {
  position: relative;
  flex-basis: calc(100% / 3 - var(--image-gap));
  margin-left: var(--image-gap);
  margin-top: var(--image-gap);
}

.direction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.direction-title {
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/* ----------------------------------section team------------------------------- */

.team {
  background-color: var(--another-background-color);
}

.team-list {
  padding: 0;
  margin: 0;
  display: flex;
  /* Фіксована (при видаленні img не втрачається ширина) сітка для елементів li, замість gap*/
  margin-left: calc(-1 * var(--image-gap));
  margin-top: calc(-1 * var(--image-gap));
}

.team-item {
  background-color: var(--white-color);
  flex-basis: calc(100% / 3 - var(--image-gap));
  margin-left: var(--image-gap);
  margin-top: var(--image-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-contant {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-maim-color-text);
  margin-bottom: 16px;
}

.team-icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.team-icon-item {
  width: 44px;
  height: 44px;
}

.team-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

/* ----------------------------------section clients------------------------------- */

.client > .sections-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.clients-item {
  /* width: 170px; */
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

/* -------------------------------MAIN PORTFOLIO------------------------------- */

.btn-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio-btn.first {
  padding: 6px 25px;
}

.portfolio-btn {
  background-color: var(--another-background-color);
  color: inherit;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:focus,
.portfolio-btn:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  /* Фіксована (при видаленні img не втрачається ширина) сітка для елементів li, замість gap*/
  margin-left: calc(-1 * var(--image-gap));
  margin-top: calc(-1 * var(--image-gap));
}

.portfolio-item {
  flex-basis: calc(100% / 3 - var(--image-gap));
  margin-left: var(--image-gap);
  margin-top: var(--image-gap);
}

.portfolio-contant {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  min-width: 322px;
}

.portfolio-title {
  font-family: var(--main-font-family);
  font-weight: var(--second-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cover-container {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:focus .portfolio-cover-text,
.portfolio-link:hover .portfolio-cover-text {
  transform: translateY(0);
}

/* -------------------------------MODAL------------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ------------------------------------Form Modal---------------------------------- */

.modal-title {
  font-weight: var(--second-font-weight);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-input-container {
  margin-bottom: 20px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-title {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-maim-color-text);
  margin-bottom: 4px;
  display: block;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color-text);
  outline: transparent;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-input.text {
  height: 40px;
  padding-left: 42px;
  padding-right: 16px;
}

.modal-input.comment {
  height: 120px;
  padding: 16px;
  resize: none;
}

.modal-input.comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
}

.input-wrap:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-container {
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-maim-color-text);
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
}

.checkbox-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color-text);
  border-radius: 8%;
  align-items: center;
  justify-content: center;
  display: flex;
  fill: transparent;
  margin-right: 5px;
}

.input-check:checked + .checkbox-text span {
  background: var(--accent-color);
  border: transparent;
  fill: var(--white-color);
}

/* .icon-border {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color-text);
  border-radius: 8%;
  align-items: center;
  justify-content: center;
  display: flex;
  fill: transparent;
  margin-right: 7px;
}

.input-check:checked + .icon-border {
  background: var(--accent-color);
  border: transparent;
  fill: var(--white-color);
} */

.input-btn-send {
  margin-left: auto;
  margin-right: auto;
}
