// /Стилі для головних заголовків в секції direction, team, clients
.sections-title {
  font-weight: var(--second-font-weight);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  margin-bottom: 50px;
}
